/*REGISTER.PHP STYLE*/
.required-field {
    color: red !important;
}

/*RIASSUNTO.PHP STYLE*/
#logout-button:hover {
    animation-delay: 0.3s;
    background-color: rebeccapurple !important;
}

#header-riassunto {
    font-size: 150px;
    text-align: center;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}